body
{
	background-color: black;
	padding: 0;
	margin: 0;
	color: white;
	font-weight: normal!important;
}

a
{
	color: #D3880E;
}

@font-face
{
    font-family: 'Albertus';
    src: url('ufonts.com_albertus-mt-webfont.eot');
    src: url('ufonts.com_albertus-mt-webfont.eot?#iefix') format('embedded-opentype'),
         url('ufonts.com_albertus-mt-webfont.woff2') format('woff2'),
         url('ufonts.com_albertus-mt-webfont.woff') format('woff'),
         url('ufonts.com_albertus-mt-webfont.ttf') format('truetype'),
         url('ufonts.com_albertus-mt-webfont.svg#albertus_mtregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: 'Albertus';
    src: url('ufonts.com_albertus-mt-light-webfont.eot');
    src: url('ufonts.com_albertus-mt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('ufonts.com_albertus-mt-light-webfont.woff2') format('woff2'),
         url('ufonts.com_albertus-mt-light-webfont.woff') format('woff'),
         url('ufonts.com_albertus-mt-light-webfont.ttf') format('truetype'),
         url('ufonts.com_albertus-mt-light-webfont.svg#albertus_mtregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.main
{
	font-family: 'Albertus',sans-serif!important;
	-webkit-font-smoothing: antialiased;
	margin: 0 auto;
	text-align: center;
}

#logo
{
	position: relative;
	display: inline-block;
}

#footer
{
	position: relative;
	display: inline-block;
}

.welcome
{
	font-size: 22px;
	line-height: 32px;
	background-image: url("http://media.overkillsoftware.com/2015/09/crimefest-toptextbx2.png");
	height: 599px;
	box-sizing: border-box;
	padding-top: 80px;
	background-position: center center;
}

h2
{
	font-size: 52px;
	font-weight: normal;
	padding: none;
	margin: none;
}

.welcomeLeft, .welcomeRight
{
	width: 450px;
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.line
{
	width: 2px;
	display: inline-block;
	height: 100%;
	margin-left: 60px;
	margin-right: 60px;
}

.welcomeLeft
{
	text-align: right;
}

.welcomeRight
{
	text-align: left;
}

.welcomeInner
{
	position: relative;
	height: 250px;
}

.path img
{
	max-width: 100%;
}

#footer
{
	width: 100%;
	height: 625px;
	background-image: url('greedfest-footer.jpg');
	background-position: center;
}

.backgroundMusicControl {
	position: fixed;
	left: 10px;
	top: 30px;
	z-index: 1000000;
	cursor: pointer;
}
